accelerate
aioboto3
aiofiles
aiohttp
asyncpg
graspologic
gremlinpython
hnswlib
nano-vectordb
neo4j
networkx
numpy
ollama
openai
oracledb
psycopg-pool
psycopg[binary,pool]
pydantic
pymilvus
pymongo
pymysql
python-dotenv
pyvis
setuptools
sqlalchemy
tenacity
tiktoken
torch
tqdm
transformers
xxhash
clip-interrogator==0.6.0
deepspeed
qwen_vl_utils
opencv-python
termcolor
bitsandbytes
nltk